{
    "configurations" : [
        {
            "kerberos-env": {
                "ldap_url": "",
                "manage_identities": "true",
                "install_packages": "true",
                "realm" : "{{ realm }}",
                "kdc_type" : "mit-kdc",
                "kdc_hosts" : "{{ kdc_hostname }}",
                "admin_server_host" : "{{ kdc_hostname }}"
            }
        },
        {
            "krb5-conf": {
                "manage_krb5_conf" : "true"
            }
        },
        {
            "admin-properties" : {
                "properties_attributes" : { },
                "properties" : {
                    "db_root_user" : "{{ pg_username }}",
                    "db_root_password" : "{{ pg_password }}",
                    "DB_FLAVOR" : "POSTGRES",
                    "db_name" : "ranger",
                    "policymgr_external_url" : "http://%HOSTGROUP::{{ ranger_admin_groups[0] }}%:6080",
                    "db_user" : "{{ ranger_db_user }}",
                    "db_password" : "{{ ranger_db_password }}",
                    "db_host" : "{{ pg_ip }}"
                }
            }
        },
        {
            "ranger-admin-site" : {
                "xasecure.audit.jaas.Client.option.principal": "rangeradmin/_HOST@{{ realm }}",
                "ranger.jpa.jdbc.driver": "org.postgresql.Driver",
                "ranger.jpa.jdbc.url" : "jdbc:postgresql://{{ pg_ip }}:{{ pg_port }}/ranger",
                "ranger.audit.source.type" : "solr",
                "ranger.audit.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{ zk }}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr"
            }
        },
        {
            "ranger-hdfs-plugin-properties" : {
                "ranger-hdfs-plugin-enabled" : "Yes",
                "REPOSITORY_CONFIG_USERNAME" : "hdfs"
            }
        },
        {
            "ranger-hdfs-security" : {
                "ranger.plugin.hdfs.policy.rest.url" : "http://{{ rangeradmin_hosts[0] }}:6080"
            }
        },
        {
            "ranger-hdfs-audit" : {
                "xasecure.audit.destination.hdfs" : "true",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.hdfs.batch.filespool.dir" : "/var/log/kafka/audit/hdfs/spool",
                "xasecure.audit.destination.solr" : "true",
                "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{zk}}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
                "xasecure.audit.destination.solr.batch.filespool.dir" : "/var/log/hive/audit/solr/spool"
            }
        },
        {
            "hadoop-policy": {
                "properties": {
                    "security.refresh.usertogroups.mappings.protocol.acl": "hdfs",
                    "security.admin.operations.protocol.acl": "hdfs",
                    "security.refresh.policy.protocol.acl": "hdfs"
                }
            }
        },
        {
            "ranger-hive-plugin-properties" : {
                "ranger-hive-plugin-enabled" : "Yes"
            }
        },
        {
            "ranger-hive-security" : {
                "ranger.plugin.hive.policy.rest.url" : "http://{{ rangeradmin_hosts[0] }}:6080",
                "ranger.plugin.hive.policy.pollIntervalMs" : "30000"
            }
        },
        {
            "ranger-hive-audit" : {
                "xasecure.audit.destination.hdfs" : "false",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.hdfs.batch.filespool.dir" : "/var/log/kafka/audit/hdfs/spool",
                "xasecure.audit.destination.solr" : "true",
                "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{zk}}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
                "xasecure.audit.destination.solr.batch.filespool.dir" : "/var/log/hive/audit/solr/spool"
            }
        },
        {
            "ranger-yarn-plugin-properties" : {
                "ranger-yarn-plugin-enabled" : "Yes"
            }
        },
        {
            "ranger-yarn-security" : {
                "ranger.plugin.yarn.policy.rest.url" : "http://{{ rangeradmin_hosts[0] }}:6080",
                "ranger.plugin.yarn.policy.pollIntervalMs" : "30000"
            }
        },
        {
            "ranger-yarn-audit" : {
                "xasecure.audit.destination.db" : "false",
                "xasecure.audit.destination.hdfs" : "true",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.hdfs.batch.filespool.dir" : "/var/log/kafka/audit/hdfs/spool",
                "xasecure.audit.destination.solr" : "true",
                "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{zk}}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
                "xasecure.audit.destination.solr.batch.filespool.dir" : "/var/log/hive/audit/solr/spool"
            }
        },
        {
            "ranger-hbase-plugin-properties" : {
                "ranger-hbase-plugin-enabled" : "Yes"
            }
        },
        {
            "ranger-hbase-security" : {
                "ranger.plugin.hbase.policy.rest.url" : "http://{{ rangeradmin_hosts[0] }}:6080",
                "ranger.plugin.hbase.policy.pollIntervalMs" : "30000"
            }
        },
        {
            "ranger-hbase-audit" : {
                "xasecure.audit.destination.db" : "false",
                "xasecure.audit.destination.hdfs" : "true",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.hdfs.batch.filespool.dir" : "/var/log/kafka/audit/hdfs/spool",
                "xasecure.audit.destination.solr" : "true",
                "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{zk}}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
                "xasecure.audit.destination.solr.batch.filespool.dir" : "/var/log/hive/audit/solr/spool"
            }
        },
        {
            "ranger-kafka-plugin-properties" : {
                "ranger-kafka-plugin-enabled" : "Yes"
            }
        },
        {
            "ranger-kafka-security" : {
                "ranger.plugin.kafka.policy.rest.url" : "http://{{ rangeradmin_hosts[0] }}:6080",
                "ranger.plugin.kafka.policy.pollIntervalMs" : "30000"
            }
        },
        {
            "ranger-kafka-audit" : {
                "xasecure.audit.destination.db" : "false",
                "xasecure.audit.destination.hdfs" : "true",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.hdfs.batch.filespool.dir" : "/var/log/kafka/audit/hdfs/spool",
                "xasecure.audit.destination.solr" : "true",
                "xasecure.audit.destination.solr.zookeepers" : "{% for zk in zookeeper_hosts %}{{zk}}:2181{% if not loop.last %},{% endif %}{% endfor %}/infra-solr",
                "xasecure.audit.destination.solr.batch.filespool.dir" : "/var/log/hive/audit/solr/spool"
            }
        },
        {
            "ranger-env" : {
                "is_solrCloud_enabled": "true",
                "ranger-hdfs-plugin-enabled" : "Yes",
                "ranger-hive-plugin-enabled" : "Yes",
                "ranger-yarn-plugin-enabled" : "Yes",
                "ranger-hbase-plugin-enabled" : "Yes",
                "ranger-kafka-plugin-enabled" : "Yes",
                "ranger_admin_username" : "{{ ranger_db_user }}",
                "ranger_admin_password" : "{{ ranger_db_password }}",
                "admin_username" : "admin",
                "admin_password" : "{{ ranger_db_password }}",
                "rangerusersync_user_password" : "{{ ranger_db_password }}",
                "rangertagsync_user_password" : "{{ ranger_db_password }}",
                "keyadmin_user_password" : "{{ ranger_db_password }}",
                "xasecure.audit.destination.db" : "false",
                "xasecure.audit.destination.hdfs" : "true",
                "xasecure.audit.destination.hdfs.dir" : "hdfs://{{ cluster_name }}/ranger/audit",
                "xasecure.audit.destination.solr" : "true",
                "create_db_dbuser": "true"
            }
        },
        {
            "ranger-ugsync-site" : {
                "ranger.usersync.enabled" : "true"
            }
        },
        {
            "hdfs-site" : {
                "dfs.namenode.checkpoint.dir" : "/hadoop/hdfs/namesecondary",
                "dfs.namenode.name.dir" : "{% for dr in data_dir %}{{dr}}/hadoop/hdfs/namenode{% if not loop.last %},{% endif %}{% endfor %}",
                "dfs.journalnode.edits.dir" : "{{ one_data_dir }}/hadoop/hdfs/journal",
                "dfs.client.failover.proxy.provider.{{ cluster_name }}" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
                "dfs.ha.automatic-failover.enabled" : "true",
                "dfs.ha.fencing.methods" : "shell(/bin/true)",
                "dfs.ha.namenodes.{{ cluster_name }}" : "nn1,nn2",
                "dfs.namenode.http-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:50070",
                "dfs.namenode.http-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:50070",
                "dfs.namenode.https-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:50470",
                "dfs.namenode.https-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:50470",
                "dfs.namenode.rpc-address.{{ cluster_name }}.nn1" : "%HOSTGROUP::{{ namenode_groups[0] }}%:8020",
                "dfs.namenode.rpc-address.{{ cluster_name }}.nn2" : "%HOSTGROUP::{{ namenode_groups[1] }}%:8020",
                "dfs.namenode.shared.edits.dir" : "qjournal://{% for jn in journalnode_groups %}%HOSTGROUP::{{ jn }}%:8485{% if not loop.last %};{% endif %}{% endfor %}/{{ cluster_name }}",
                "dfs.nameservices" : "{{ cluster_name }}",
                "dfs.internal.nameservices" : "{{ cluster_name }}",
                "dfs.namenode.inode.attributes.provider.class" : "org.apache.ranger.authorization.hadoop.RangerHdfsAuthorizer",
                "dfs.datanode.data.dir" : "{% for dr in data_dir %}{{ dr }}/hadoop/hdfs/data{% if not loop.last %},{% endif %}{% endfor %}"
            }
        },
        {
            "core-site": {
                "hadoop.proxyuser.*": "*",
                "fs.defaultFS" : "hdfs://{{ cluster_name }}",
                "ha.zookeeper.quorum" : "{% for zk in zookeeper_groups %}%HOSTGROUP::{{ zk }}%:2181{% if not loop.last %},{% endif %}{% endfor %}",
                "hadoop.http.authentication.simple.anonymous.allowed" : "true",
                "hadoop.http.authentication.type" : "simple",
                "fs.trash.interval" : "360",
                "hadoop.security.authorization": "true",
                "hadoop.security.authentication" : "kerberos"
            }
        },
        {
            "yarn-site" : {
                "hadoop.registry.zk.quorum": "{% for zk in zookeeper_groups %}%HOSTGROUP::{{ zk }}%:2181{% if not loop.last %},{% endif %}{% endfor %}",
                "yarn.resourcemanager.recovery.enabled": "true",
                "yarn.resourcemanager.store.class" : "org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore",
                "yarn.resourcemanager.cluster-id" : "yarn-cluster",
                "yarn.resourcemanager.ha.enabled" : "true",
                "yarn.resourcemanager.ha.automatic-failover.zk-base-path" : "/yarn-leader-election",
                "yarn.resourcemanager.ha.rm-ids" : "rm1,rm2",
                "yarn.resourcemanager.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8050",
                "yarn.resourcemanager.scheduler.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8030",
                "yarn.resourcemanager.resource-tracker.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8025",
                "yarn.resourcemanager.admin.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8141",
                "yarn.resourcemanager.hostname": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8088",
                "yarn.resourcemanager.hostname.rm1": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%",
                "yarn.resourcemanager.hostname.rm2": "%HOSTGROUP::{{ resourcemanager_groups[1] }}%",
                "yarn.resourcemanager.webapp.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8088",
                "yarn.resourcemanager.webapp.address.rm1": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8088",
                "yarn.resourcemanager.webapp.address.rm2": "%HOSTGROUP::{{ resourcemanager_groups[1] }}%:8088",
                "yarn.resourcemanager.webapp.https.address": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8090",
                "yarn.resourcemanager.webapp.https.address.rm1": "%HOSTGROUP::{{ resourcemanager_groups[0] }}%:8090",
                "yarn.resourcemanager.webapp.https.address.rm2": "%HOSTGROUP::{{ resourcemanager_groups[1] }}%:8090",
                "yarn.resourcemanager.zk-address": "{% for zk in zookeeper_groups %}%HOSTGROUP::{{ zk }}%:2181{% if not loop.last %},{% endif %}{% endfor %}",
                "yarn.acl.enable" : "true",
                "yarn.authorization-provider": "org.apache.ranger.authorization.yarn.authorizer.RangerYarnAuthorizer",
                "yarn.nodemanager.local-dirs" : "{% for dr in data_dir %}{{ dr }}/hadoop/yarn/local{% if not loop.last %},{% endif %}{% endfor %}",
                "yarn.nodemanager.log-dirs" : "{% for dr in data_dir %}{{ dr }}/hadoop/yarn/log{% if not loop.last %},{% endif %}{% endfor %}"
            }
        },
        {
            "hive-site" : {
                "javax.jdo.option.ConnectionDriverName": "org.postgresql.Driver",
                "javax.jdo.option.ConnectionURL" : "jdbc:postgresql://{{ pg_ip }}:{{ pg_port }}/hive",
                "ambari.hive.db.schema.name" : "hive",
                "javax.jdo.option.ConnectionUserName": "hive",
                "javax.jdo.option.ConnectionPassword" : "{{ hive_pg_password }}",
                "hive.security.authorization.enabled" : "true",
                "hive.server2.logging.operation.log.location" : "/tmp/hive/operation_logs"
            }
        },
        {
            "hiveserver2-site" : {
                "hive.security.authorization.enabled" : "true",
                "hive.security.authorization.manager" : "org.apache.ranger.authorization.hive.authorizer.RangerHiveAuthorizerFactory",
                "hive.conf.restricted.list" : "hive.security.authenticator.manager,hive.security.authorization.manager,hive.security.metastore.authorization.manager,hive.security.metastore.authenticator.manager,hive.users.in.admin.role,hive.server2.xsrf.filter.enabled,hive.security.authorization.enabled",
                "hive.metastore.metrics.enabled" : "true"
            }
        },
        {
            "hive-env" : {
                "hive_database": "Existing PostgreSQL Database",
                "hive_database_type": "postgres",
                "hive_database_name": "hive",
                "hive_security_authorization" : "Ranger",
                "hive_user" : "hive"
            }
        },
        {
            "hbase-site" : {
                "hbase.rootdir": "hdfs://{{ cluster_name }}/apps/hbase/data",
                "hbase.security.authorization" : "true",
                "hbase.coprocessor.master.classes" : "org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor",
                "hbase.coprocessor.region.classes" : "org.apache.hadoop.hbase.security.access.SecureBulkLoadEndpoint,org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor",
                "hbase.coprocessor.regionserver.classes" : "org.apache.ranger.authorization.hbase.RangerAuthorizationCoprocessor"
            }
        },
        {
            "kafka-broker": {
                "authorizer.class.name" : "org.apache.ranger.authorization.kafka.authorizer.RangerKafkaAuthorizer"
            }
        }
    ],

    "host_groups" : [
        {% for blueprint_item in blueprint_dynamic if blueprint_item.hosts_list|length > 0 -%}
        {
            "name" : "{{ blueprint_item.host_group }}",
            "configurations" : [ ],
            "components" : [
                {% for client in blueprint_item.clients|default([]) -%}
                { "name" : "{{ client }}" },
                {% endfor %}
                { "name" : "KERBEROS_CLIENT" },
                {% for service in blueprint_item.services -%}
                { "name" : "{{ service }}" }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ],
    "Blueprints" : {
        "security" : {
            "type" : "KERBEROS"
        },
        "stack_name" : "BIGTOP",
        "stack_version" : "3.2.0"
    }
}
