default_password: 'B767610qa4Z'                          # a default password for all required passwords which are not specified in the blueprint,

#fill disk dirs
data_dirs: ["/data/sdv1"]
repos:
  - {name: "os_base_repo", url: "http://server0:8081/repository/centos/7"}
  #- {"name": "ambari_repo", "url": "http://server0:8881/repository/yum/udh3/"}

user: admin
hosts:
  - 10.1.1.10 server0 password0
  - 10.1.1.12 server1 password2
  - 10.1.1.13 server2 password3