{
    "celeborn-defaults" : {
      "celeborn.worker.storage.dirs": "{{ hadoop_base_dir }}",
      "celeborn.master.ha.ratis.raft.server.storage.dir": "{{hadoop_base_dir}}/celeborn/ratis",
      "celeborn.storage.activeTypes": "HDD"
    }
}