 {
    "hdfs-rbf-site" : {
      "dfs.federation.router.default.nameserviceId" : "{{ trino_java_home }}",
      "hadoop.zk.address": "{{ }}",
      "dfs.federation.router.store.driver.zk.parent-path": "{{ }}"
    }
}